<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>dev4it</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/main.css" />
  </head>

  <body>
    
    <h1 class="encabezado variables">Home</h1>
    <main>
      <a href="#prueba">Prueba</a>
      <hr />
      <form action="/enviar-respuesta">
        <label for="masculino"
          ><input
            id="masculino"
            type="radio"
            name="masculino-femenino"
            value="masculino"
          />Masculino</label
        ><br />

        <label for="femenino"
          ><input
            id="femenino"
            type="radio"
            name="masculino-femenino"
            value="femenino"
            checked
          />Femenino</label
        ><br />

        <label for="ansioso"
          ><input
            type="checkbox"
            id="ansioso"
            name="personalidad"
            value="ansioso"
          />Ansioso</label
        ><br />
        <label for="perezoso"
          ><input
            type="checkbox"
            id="perezoso"
            name="personalidad"
            value="perezoso"
            checked
          />Perezoso</label
        ><br />

        <input type="text" placeholder="Contraseña" required />
        <button type="submit">Enviar</button>
      </form>
      <hr />
      <div class="imagen-epigrafe variables">
        <a
          href="https://www.dev4it.com.ar/"
          target="_blank"
          rel="nooper noreferrer"
          ><img src="/images/nosotros.jpg" alt="nuestro entorno de trabajo"
        /></a>

        <h4 id="prueba">Prueba</h4>
      </div>
    </main>
    <footer></footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  </body>
</html>
