.variables {
  --color-variable: purple;
}

.encabezado {
  font-size: 35px;
  color: var(--color-variable);
  font-family: "Kolker Brush", cursive;
}

/*Logo*/
.logo {
  max-width: 100px;
  animation: aumentar 1000ms linear 2 alternate;
}
@keyframes aumentar {
  0% {
    transform: scale(1);
  }
  25% {
    transform: rotateY(90deg);
  }
  100% {
    transform: scale(1.5);
  }
}

/*Avatar*/
.avatar {
  max-width: 100px;
}

/* Buscadores de la navBar */
.navForm {
  margin-right: 10px;
}

/* Botonera de formularios de edición */
.buttonPanel {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

/* Labels de las páginas de listados de proyectos y usuarios */
.labels-list {
  font-weight: bold;
  font-size: large;
  margin: 15px;
}

/* H2 del Home */
.home {
  color: crimson;
  font-size: large;
  font-style: oblique;
  border: 3px red solid;
  border-radius: 10px;
}

/* Listado Proyectos del User Register */
.proyects {
  width: 300px;
}

.list-proyects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: flex-start;
}

.par {
  color: darkblue;
}

.impar {
  color: black;
}
