<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', {title: " - Login" })%>
  <body>
    <%- include('../partials/header.ejs')%>
    <div class="container">
      <form action="/personal/login" method="post" class="row g-3 mt-3">
        <div class="col-6">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control <%= locals.errors &&
          errors.email ? "is-invalid" : null %>" id="email" name="email"
          placeholder="Ingresa tu mail" /> <% if (locals.errors &&
          errors.email) { %>
          <div class="text-danger"><%= errors.email.msg %></div>
          <% } %>
        </div>
        <div class="col-6">
          <label for="password" class="form-label">Contraseña</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Ingresa tu contraseña"
          />
        </div>
        <div class="col-12">
          <div class="form-check">
            <label for="rememberUser" class="form-check-label">Recordar mi usuario</label>
            <input
              type="checkbox"
              class="form-check-input"
              name="rememberUser"
            />
          </div>
        </div>

        <div class="col-12">
          <button type="submit" class="btn btn-primary">Ingresar</button>
        </div>
      </form>
    </div>
  </body>
</html>
