<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', {title: " - Personal" })%>
  <body>
    <%- include('../partials/header.ejs')%>
    <main>
      <ul class="list-group">
        <!--active / disabled-->
        <% for( let i = 0; i < listado.length; i++ ) { %>
        <li>
          <a
            href="/personal/detail/<%= listado[i].id %>"
            class="list-group-item list-group-item-action"
            ><%= listado[i].name %>
          </a>
        </li>
        <% } %>
      </ul>
      <br />
      <br />
      <form action="/personal/register" method="GET">
        <div class="col-12">
          <button type="submit" class="btn btn-primary">
            Darle de alta a un nuevo compañero
          </button>
        </div>
      </form>
      <br />
      <br />
      <h2>Buscador de Usuarios:</h2>
      <form action="/personal/search" method="GET">
        <input type="text" name="search" />
        <input type="submit" value="Enviar" />
      </form>
    </main>
  </body>
</html>
