<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', {title: "Profile" })%>
<body>
  <%- include('../partials/header.ejs')%>
  <h1>HOLA <%= persona.name %>!</h1>
  <h2> Bienvenido a tu perfil </h2>
  <h2> Pronto tendremos más recursos a tu disposición </h2>
</body>
</html>