<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', {title: "Profile" })%>
  <body>
    <%- include('../partials/header.ejs')%>
    <h2>Bienvenido a tu perfil</h2>
    <img src="<%= user.avatar %>" alt="<%= user.name %>" class="avatar" />

    <h4>Pronto tendremos más recursos a tu disposición</h4>
    <div class="buttonPanel">
      <form action="/" method="GET">
        <button type="submit" class="btn btn-primary">Volver</button>
      </form>
    </div>
  </body>
</html>
