<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resultados de la búsqueda:</title>
</head>

<body>
  <h2>Resultados para: <%= loQueBuscoElUsuario %> </h2>
  <!--"search" porque asi llame al input-->
  <ul>
    <% for (let i=0; i<results.length; i++){ %>
    <li> <%= results[i]%> </li>
    <% } %>
    <% if (results.length == 0) { %>
     <li>  No se encontraron coincidencias </li>
    <% } %>      
    
  </ul>
</body>

</html>