<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', {title: " - Search" })%>
  <body>
    <%- include('../partials/header.ejs')%>
  <h2>Resultados para: <%= loQueBuscoElUsuario %> </h2>
  <!--"search" porque asi llame al input-->
  <ul>
    <% for (let i=0; i<results.length; i++){ %>
    <li> <%= results[i]%> </li>
    <% } %>
    <% if (results.length == 0) { %>
     <li>  No se encontraron coincidencias </li>
    <% } %>      
    
  </ul>
</body>

</html>