<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', {title: "" })%>
  <body>
    <%- include('../partials/header.ejs')%>
    <ul class="list-group">
      <% for( let i = 0; i < listado.length; i++ ) { %>
      <li>
        <a
          href="/proyectos/<%= listado[i].id %>"
          class="list-group-item list-group-item-action"
          ><%= listado[i].name %></a
        >
      </li>
      <% } %>
    </ul>

    <br />
    <br />

    <form action="/proyectos/register" method="GET">
      <div class="col-12">
        <button type="submit" class="btn btn-primary">
          Cargar nuevo proyecto
        </button>
      </div>
    </form>
  </body>
</html>
