<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', {title: "" })%>
  <body>
    <%- include('../partials/header.ejs')%>
    <ul>
      <% for( let i = 0; i < listado.length; i++ ) { %>
      <li><a href="/proyectos/<%= listado[i].id %>"><%= listado[i].nombre %></a></li>
      <% } %>
    </ul>
    <h2>Buscador de Proyectos:</h2>
    <form action="/proyectos/search" method="GET">
      <input type="text" name="search" />
      <input type="submit" value="Enviar" />
    </form>
  </body>
</html>
