<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Proyects</title>
  </head>
  <body>
    <ul>
      <% for( let i = 0; i < listado.length; i++ ) { %>
      <li><%= listado[i].nombre %></li>
      <% } %>
    </ul>
    <h2>Buscador de Proyectos:</h2>
    <form action="/proyectos/search" method="GET">
      <input type="text" name="search" />
      <input type="submit" value="Enviar" />
    </form>
  </body>
</html>
