<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head.ejs', {title: " - Home" })%>
  </head>

  <body>
    <%- include('./partials/header.ejs')%>

    <main class="container">
      <div class="card bg-dark text-white">
        <img src="/images/nosotros.jpg" class="card-img" alt="..." />
        <div class="card-img-overlay">
          <h5 class="card-title">Welcome to Dev4it</h5>
        </div>
      </div>
    </main>

    <footer><%- include('./partials/footer.ejs')%></footer>
  </body>
</html>
